@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

// Color
$primary-color: #002062;
$secondary-color: #0E45B7;
$contrast-color: #71DDB1;

// background-color
$primary-bg-color: #E5E5E5;
$secondary-bg-color: rgba(0, 32, 98, 0.05);

// fonts-color
$dark-gray-color: #455154;
$gray-color: #6E7191;
$white-color: #ffffff;

// Font
$primary-font: "Figtree", sans-serif;