<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div
          class="card bg-color text-primary-color"
          style="border-radius: 1rem"
        >
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <div class="img-content">
                <img src="../../../assets/LABMedical.svg" />
              </div>
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-primary-color mb-5">Entre com seus dados!</p>

              <form class="example-form" [formGroup]="loginForm">
                <div class="col-12 mb-2">
                  <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input
                      type="text"
                      matInput
                      formControlName="emailLogin"
                      placeholder="Ex. example@gmail.com"
                    />
                    @if (loginForm.controls['emailLogin'].invalid) {<mat-error
                      >Email inválido</mat-error
                    >}
                  </mat-form-field>
                </div>

                <div class="col-12 mb-2">
                  <mat-form-field class="w-100">
                    <mat-label>Senha</mat-label>
                    <input
                      type="password"
                      matInput
                      formControlName="passwordLogin"
                      placeholder="Ex. Mínimo 3 dígitos"
                    />
                    @if (loginForm.controls['passwordLogin'].invalid)
                    {<mat-error>Senha inválida</mat-error>}
                  </mat-form-field>
                </div>
              </form>
              <p class="small mb-5 pb-lg-2">
                <a class="text-primary-color" href="#!">Esqueceu a senha?</a>
              </p>

              <button
                data-mdb-button-init
                data-mdb-ripple-init
                class="btn primary-color white-color btn-lg px-5"
                type="submit"
                [disabled]="!loginForm.valid"
                (click)="submitLogin()"
              >
                Login
              </button>
            </div>

            <div>
              <hr />
              <p class="mb-0" (click)="goToRegister()">
                Não tem cadastro?
                <a class="text-secondary-color fw-bold" style="cursor: pointer"
                  >Cadastre-se</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
