@import "../../../styles/variables.scss";

.img-content {
  display: flex;
  justify-content: center;
  margin: 20px;

  img {
    width: 50%;
  }
}

.text-primary-color{
  color: $dark-gray-color;
}

.text-secondary-color{
  color: $gray-color;
}

.bg-color{
  background-color: $primary-bg-color;
}

.primary-color{
  background-color: $primary-color;
}

.white-color{
  color: $white-color;
}


.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }