<div class="container-fluid p-3">
  <div class="col-6">
    <h1 class="title-page">Novo Exame</h1>
    <h2 class="subtitle">Preencha todos os campos com *.</h2>
  </div>

  <form class="row" [formGroup]="formExamination">
    <div class="col-12">
      <button
        class="btn btn-primary btn-lg float-end"
        [disabled]="!formExamination.valid"
        (click)="addExamination()"
      >
        Salvar
      </button>
    </div>
    <h3 class="col-12 title-form">Buscar Paciente:</h3>
    <mat-form-field class="example-full-width">
      <mat-label>Nome do Paciente</mat-label>
      <input
        matInput
        placeholder="Ex. Carlos"
        #input
        (keyup)="applyFilter($event)"
        [matAutocomplete]="auto"
        formControlName="patientName"
      />
      <mat-autocomplete autoActiveFirstOption="" #auto>
        <mat-option
          *ngFor="let Patient of listPatients"
          [value]="Patient.fullName"
        >
          {{ Patient.fullName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <hr class="hr" />
    <h3 class="col-12 title-form">Dados do Exame:</h3>

    <div class="col-12 col-md-6 mb-2">
      <mat-form-field class="w-100">
        <mat-label>Nome do Exame</mat-label>
        <input
          type="text"
          matInput
          #examName
          minlength="8"
          maxlength="64"
          formControlName="examName"
          placeholder="Dor nas costas"
        />
        @if (formExamination.controls['examName'].invalid) {<mat-error
          >Digite no mínimo 8 caracteres</mat-error
        >}
        <mat-hint align="start">Mínimo 8 caracteres</mat-hint>
        <mat-hint align="end">{{ examName.value.length }} / 64</mat-hint>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-3 mb-2">
      <mat-form-field class="w-100">
        <mat-label>Data do Exame </mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="date" />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-12 col-md-3 mb-2">
      
      <input [ngxTimepicker]="picker" />
      <ngx-material-timepicker #picker></ngx-material-timepicker>
    </div>

    <div class="col-6 mb-2">
      <mat-form-field class="example-full-width">
        <mat-label>Tipo do Exame</mat-label>
        <input
          type="text"
          matInput
          #examType
          formControlName="examType"
          minlength="4"
          maxlength="32"
          placeholder="Ex. Dor na lombar..."
        />
        @if (formExamination.controls['examType'].invalid) {<mat-error
          >Digite no mínimo 4 caracteres</mat-error
        >}
        <mat-hint align="start">Mínimo 4 caracteres</mat-hint>
        <mat-hint align="end">{{ examType.value.length }} / 32</mat-hint>
      </mat-form-field>
    </div>

    <div class="col-6 mb-2">
      <mat-form-field class="example-full-width">
        <mat-label>Laboratório</mat-label>
        <input
          type="text"
          matInput
          #laboratory
          minlength="4"
          maxlength="32"
          formControlName="laboratory"
          placeholder="Ex. Paracetamol..."
        />
        @if (formExamination.controls['laboratory'].invalid) {<mat-error
          >Digite no mínimo 4 caracteres</mat-error
        >}
        <mat-hint align="start">Mínimo 4 caracteres</mat-hint>
        <mat-hint align="end">{{ laboratory.value.length }} / 32</mat-hint>
      </mat-form-field>
    </div>

    <div class="col-12 mb-2">
      <mat-form-field class="example-full-width">
        <mat-label>URL do Documento do Exame</mat-label>
        <input
          type="text"
          matInput
          #examUrl
          formControlName="examUrl"
          placeholder="Ex. Tomar 1 comprimido a cada 6 horas!"
        />
      </mat-form-field>
    </div>

    <div class="col-12 mb-2">
      <mat-form-field class="example-full-width height-300">
        <mat-label>Resultado do Exame</mat-label>
        <textarea
          matInput
          #examResult
          minlength="16"
          maxlength="1024"
          formControlName="examResult"
          placeholder="Ex. Tomar 1 comprimido a cada 6 horas!"
        ></textarea>
        @if (formExamination.controls['examResult'].invalid) {<mat-error
          >Digite no mínimo 16 caracteres</mat-error
        >}
        <mat-hint align="start">Mínimo 16 caracteres</mat-hint>
        <mat-hint align="end">{{ examResult.value.length }} / 1024</mat-hint>
      </mat-form-field>
    </div>
  </form>
</div>
