<section class="col-auto align-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-md-3">
        <p>home/Dashboard</p>
      </div>
      <div class="col col-md-9">
        <div class="container-perfil">
            <img src="/assets/img-doctor.jpg" width="150px">
            <h5>João Gomes</h5>
            <h4>Médico Ortopedista</h4>
            <li><mat-icon>location_on</mat-icon>Florianópolis - SC</li>
        </div>
      </div>     
    </div>
  </div>
</section>
