<section class="col-auto align-self-center">
  <div class="container-fluid">
    <div class="row">
      <div class="pages col align-self-center text-start">
        <p>/Dashboard</p>
      </div>
      <div class="col col-md-9 align-itens-center">
        <div class="container-perfil">
          <img src="/assets/img-doctor.jpg" class="img-perfil" />
          <div class="info-perfil">
            <h4> {{userName}} </h4>
            <h5> {{userEspecialization}} </h5>
            <span><a target="_blank" href="#"><mat-icon>location_on</mat-icon> {{userLocation}} </a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
