<div class="container-fluid p3">
  <h1 class="title">{{ titlePage }}</h1>

  <div class="row">
    <!-- card bem vindo -->
    <div class="col-md-6">
      <div class="card">
        <div class="card welcome">
          <div class="row">
            <div class="col-md-6">
              <h2 class="subtitle">
                Olá, <strong>{{ userLogged.userName }}</strong
                >!
              </h2>
              <p>Tenha um ótimo dia e não se esqueça de tomar água!</p>
            </div>
            <div class="col-md-6">
              <img
                src="/assets/img-Drink-water.svg"
                class="img-fluid rounded-start"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- card Pacientes -->
    <div class="col-md-2 mb-3 mb-sm-0">
      <div class="card bg-info h-100">
        <div class="card-body info">
          <img src="../../../assets/icon-patients.svg" class="card-img-top" />
          <div class="text-cards">
            <h5 class="card-title">Pacientes</h5>
            <p class="card-text"> {{listPatients.length}} </p>
          </div>
        </div>
      </div>
    </div>
    <!-- card Consultas -->
    <div class="col-md-2 mb-3 mb-sm-0">
      <div class="card bg-info h-100">
        <div class="card-body info">
          <img
            src="../../../assets/icon-appointments.svg"
            class="card-img-top"
          />
          <div class="text-cards">
            <h5 class="card-title">Consultas</h5>
            <p class="card-text"> {{listAppointments.length}} </p>
          </div>
        </div>
      </div>
    </div>
    <!-- card Exames -->
    <div class="col-md-2 mb-3 mb-sm-0">
      <div class="card bg-info h-100">
        <div class="card-body info">
          <img
            src="../../../assets/icon-examination.svg"
            class="card-img-top"
          />
          <div class="text-cards">
            <h5 class="card-title">Exames</h5>
            <p class="card-text"> {{listExams.length}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col mt-3">
    <div class="card card-group ">
      <div class="card-body">
        <h3 class="title">Informações rápidas de pacientes</h3>
        <hr class="hr" />
        <app-card-patients></app-card-patients>
      </div>
    </div>
  </div>
</div>
